/* Page background and font */
body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

/* Navbar */
.navbar {
    background-color: #007bff;
    padding: 15px;
    text-align: right;
}


/* Center content */
.content {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Login box */
form {
    max-width: 380px;
    width: 100%;
    background-color: #ffffff;
    padding: 35px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.12);
}

/* inputs */
.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: 600;
    color: #444;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

input:focus {
    border-color: #007bff;
    outline: none;
}

/* submit button */
button[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

/* INVALID CREDENTIALS ALERT */
.alert {
    background-color: #ffdddd;
    color: #cc0000;
    border: 2px solid #cc0000;
    padding: 12px;
    text-align: center;
    font-weight: bold;
    border-radius: 6px;
    margin-bottom: 20px;
}

/* Link under login box */
.login-link{
    margin-top: 18px;
    text-align: center;
    display: block;
    color: #007bff;
    font-weight: bold;
    text-decoration: none;
}

.login-link:hover {
    text-decoration: underline;
}


/* for signup form */

.auth-container {
    max-width: 400px;
    margin: 50px auto; /* Centers the whole container */
}

.auth-container h2 {
    text-align: center;
    margin-bottom: 30px;
}

form {
    padding: 30px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}